<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <select required #mySelect (change)='onOptionsSelected(mySelect.value)'>
        <option value="">Choose EmployeeCategory</option>
        <option value="0" >All</option>
        <option *ngFor="let emp of category | async" value="{{emp.categoryid}}">{{emp.categoryName}}</option>
      </select>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>EmpID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>DOB</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | async ">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.emailId}}</td>
            <td>{{employee.DOB}}</td>
            <td><button  class="btn btn-danger">Delete</button>
              <button  class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="employeeDetails(employee.id)" class="btn btn-info"
                style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  
  </div>
