<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Product List</h2>
    </div>
    <!--<select required #mySelect (change)='onOptionsSelected(mySelect.value)'>
        <option value="">Choose EmployeeCategory</option>
        <option value="0" >All</option>
        <option *ngFor="let emp of category | async" value="{{emp.categoryid}}">{{emp.categoryName}}</option>
      </select>-->
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>ProductName</th>
            <th>Description</th>
            <th>Price</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | async ">
            <td>{{product.pid}}</td>
            <td>{{product.pname}}</td>
            <td>{{product.pdesc}}</td>
            <td>{{product.price}}</td>
            <td>{{product.pdateStr}}</td>
            <!--<td><button [routerLink]="['/edit',product.pid]" class="nav-link" routerLinkActive="active">Edit</button></td>-->
            <td><button class="btn btn-danger" mwlConfirmationPopover
              [popoverTitle]="popoverTitle"
              [popoverMessage]="popoverMessage"
              placement="left"
              (confirm)="confirmClicked = true"
              (cancel)="cancelClicked = true"
              confirmButtonType="warning"
              cancelButtonType="default"
              (click)="confirmClicked=false;
              cancelClicked=false"
              [appendToBody]="true"
              (confirm)=deleteProduct(product.pid)>Delete</button>
              <button [routerLink]="['/edit',product.pid]" class="btn btn-info" style="margin-left: 10px">Update</button>
              <!--<button (click)="productDetails(product.id)" class="btn btn-info"
                style="margin-left: 10px">Details</button>-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  
  </div>

